@font-face {
  font-family: 'Avalon';
  src: url('../fonts/avalon/Avalon-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/cormorant/CormorantGaramond-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
